body {
    background: #384040;
}
.paperHolder{
    min-height: calc(100vh - 60px);
}

@media only screen and (max-device-width: 1000px) {
.paper {
    background: #DDDDDD;
    width: 95%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}

@media only screen and (min-device-width: 1000px) {
.paper {
    background: #DDDDDD;
    width: 60%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}

.content {
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    font-family: sans-serif;
}
.chart {
    width: 100%;
}
.options{
    list-style-type: none;
}
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}
footer{
    position:fixed;
    width: 100%;
}
footer .foot_link{
    text-align: center;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover {
    text-decoration: underline;
    color: grey;
}
